In [1]:
import sqlite3

In [8]:
#Create a conection to the data base
conetion = sqlite3.connect('example.db')

In [10]:
cursor = conetion.cursor()

In [6]:
#Let's create a tbale called students
cursor.execute("CREATE TABLE students (email VARCHAR(50), career VARCHAR(80), name VARCHAR(100), age INTEGER)")

In [12]:
#Let's add some data

cursor.execute("INSERT INTO students VALUES ('testmail@gmail.com','Math','Paul', 23)")

conetion.commit()

In [14]:
#Let's see the table as it's right now

cursor.execute('SELECT * FROM students')

users = cursor.fetchone() #if not this will be... <sqlite3.Cursor at 0x13374f8b140>
print(users)

('testmail@gmail.com', 'Math', 'Paul', 23)

In [15]:
#Insert many records at the same time

users = [
    ('testmail1@gmail.com', 'Math', 'John', 23),
    ('testmail2@gmail.com', 'Physics', 'George', 20),
    ('testmail3@gmail.com', 'Music', 'Ringo', 27),
    ('testmail4@gmail.com', 'Arts', 'Axl', 23),
    ('testmail5@gmail.com', 'Chemistry', 'Mike', 24),
    ('testmail6@gmail.com', 'Philosophy', 'Walter', 22)
]

cursor.executemany("INSERT INTO students VALUES (?,?,?,?)", users)

conetion.commit()

In [17]:
#Read the records

cursor.execute("SELECT * FROM students")

users = cursor.fetchall()

for user in users:
    print(user)

('testmail@gmail.com', 'Math', 'Paul', 23)
('testmail@gmail.com', 'Math', 'Paul', 23)
('testmail1@gmail.com', 'Math', 'John', 23)
('testmail2@gmail.com', 'Physics', 'George', 20)
('testmail3@gmail.com', 'Music', 'Ringo', 27)
('testmail4@gmail.com', 'Arts', 'Axl', 23)
('testmail5@gmail.com', 'Chemistry', 'Mike', 24)
('testmail6@gmail.com', 'Philosophy', 'Walter', 22)

In [18]:
#Let's add CSV in the DB generated by https://www.mockaroo.com
import csv
file = open(r"MOCK_DATA.csv")

In [19]:
rows = csv.reader(file)

In [20]:
cursor.executemany("INSERT INTO students VALUES (?,?,?,?)", rows)

In [23]:
cursor.execute("SELECT * FROM students")
total_users = cursor.fetchall()
for user in total_users:
    print(user)
conetion.commit()

('testmail@gmail.com', 'Math', 'Paul', 23)
('testmail@gmail.com', 'Math', 'Paul', 23)
('testmail1@gmail.com', 'Math', 'John', 23)
('testmail2@gmail.com', 'Physics', 'George', 20)
('testmail3@gmail.com', 'Music', 'Ringo', 27)
('testmail4@gmail.com', 'Arts', 'Axl', 23)
('testmail5@gmail.com', 'Chemistry', 'Mike', 24)
('testmail6@gmail.com', 'Philosophy', 'Walter', 22)
('email', 'career', 'name', 'age')
('blyon0@cnbc.com', 'Software Engineer III', 'Birgit', 21)
('mfilipson1@bing.com', 'Nuclear Power Engineer', 'Myrtia', 26)
('kkingshott2@mayoclinic.com', 'Computer Systems Analyst I', 'Kakalina', 20)
('cfremantle3@pinterest.com', 'Safety Technician III', 'Cymbre', 27)
('mbeadel4@yandex.ru', 'Recruiter', 'Madelle', 21)
('keffaunt5@vkontakte.ru', 'Quality Control Specialist', 'Katy', 23)
('kcarnaman6@list-manage.com', 'Desktop Support Technician', 'Ki', 23)
('pchiverstone7@gravatar.com', 'Actuary', 'Pippa', 22)
('amcandie8@timesonline.co.uk', 'Senior Financial Analyst', 'Abelard', 20)
('lsilson9@wiley.com', 'Sales Representative', 'Ludovika', 28)
('klehra@skyrock.com', 'Community Outreach Specialist', 'Kris', 19)
('kbulterb@mit.edu', 'Chief Design Engineer', 'Kordula', 24)
('elightwingc@typepad.com', 'Marketing Manager', 'Erl', 25)
('tproutd@w3.org', 'Editor', 'Tremaine', 20)
('mflotte@artisteer.com', 'Product Engineer', 'Marlo', 24)

In [24]:
conetion.close()